h2 {
    font-family: 宋体;
    font-size: 25px;
    text-align: center;
    background: #fef8f7;
    margin-top: auto;
    height: 40px;
    width: 550px;
}
.box {
    border: 1px solid #000000;
    height: 400px;
    width: 550px;
    float: left;
    margin: 50px;
	margin-left: 40%;
	margin-top: 10%;
}
.box1 {
    border: 1px solid #000000;
    height: 510px;
    width: 550px;
    float: left;
    margin: 50px;
	margin-left: 40%;
	margin-top: 7%;
}
.input_box {
	margin-top: 6%;
	margin-left: 10px;
    /* text-align: center; */
    height: 30px;
    width: 510px;

}
#pwd2{
	
    /* text-align: center; */
    height: 30px;
    width: 270px;

}
.input_box1{
	margin-top: 6%;
	margin-left: 15%;
    text-align: center ;
    height: 40px;
    width: 350px;

}
.input_box2{
	margin-top: 6%;
    margin-left: 10px;
    height: 30px;
    width: 500px;

}
.input_box3{
	margin-top: 6%;
    margin-left: 10px;
    height: 20px;
    width: 500px;

}
input {
    align-self: center;
    height: 30px;
    width: 300px;
}

button{

    font-size: 22px;
    width: 300px;
    height: 30px;
    align-self: center;
	margin-bottom: auto ;
	background: #edfff3;
	margin-left: 24%;



}
input{
	
	
}
.button button{
				/* 将a转换为块元素*/
				display:block;
				
				/* 上下内边距 */
				padding:px 0;
				/* 去掉下划线 */
				text-decoration: none;
				/* 字体颜色 */
				color:black;
				/* 加粗 */
				font-weight: bold;
				font-size: 15px;	
				
			}
			
.button button:hover{
				background-color: #a0d3ff;
			}
			
.button input{
				/* 将a转换为块元素*/
				display:block;
				
				/* 上下内边距 */
				padding:px 0;
				/* 去掉下划线 */
				text-decoration: none;
				/* 字体颜色 */
				color:black;
				/* 加粗 */
				font-weight: bold;
				font-size: 15px;	
				
			}
			
.button input:hover{
				background-color: #a0d3ff;
			}
h5{
	margin-left: 50%;
	margin-top: 12%;
	
}
body{
			background: url(../img/bg-top.png) repeat-x;
			}
			.top{
				width: 8px;
				height: 131px;
				
			}
			.logo{
				width: 350px;
				height: 10px;
				margin: 0 auto;
				padding: 30px 0px 0px 30px;
				font-size: 23px;
				font-weight: bold;
			}
			