.box_2{
	height: 50px;
	width: 1918px;
	background-color:#FAFAFA;
	border: 1px solid #e2e2e2;
	position: relative;
	z-index:-1;
	
}
/* 取数 */
.sort{
	height: 34px;
	width: 200px;
	padding-left: 160px;
	padding-top: 15px;
	font-size: 14px;
	font-family: 宋体;
	margin-left: 1149px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	background-color:white;
	position: absolute;
	z-index:-1;
}
/* 数据类型 */
.model{
	height: 34px;
	width: 230px;
	padding-left: 176px;
	padding-top: 15px;
	font-size: 14px;
	font-family: 宋体;
	margin-left: 1511px;
	border-right: 1px solid #e2e2e2;
	background-color:white;
	position: absolute;
	z-index:-1;
}
#button_0{
	margin:5px 10px ;
	width: 110px;
	
}
.layui-btn-group{
	margin-top: 20px;
	margin-left: 70px;
	
	
}
.hr_1{
	margin-left: 45px;
	width: 260px;
}
.layui-collapse{
	width: 250px;
	margin-left: 50px;
	/* position: absolute;
	z-index: -1; */
}
#button_1{
	margin:5px 10px ;
	width: 200px;
}
/* 取数下面的选框 */
.box_select1{
	height: 10px;
	width: 360px;
	background-color:#00ff00;
	margin-left:0px;
    overflow:auto;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	display: inline;
	/* position: absolute;
	z-index: -1; */
}
.box_select2{
	height: 855px;
	width: 407px;
	background-color:#5555ff;
	margin-left: 1511px;
	/* position: fixed; */
	overflow:auto;
	/* border-left: 1px solid #e2e2e2; */
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	/* z-index: 0; */
}
.box_select2 .layui-input-block i{
	position: absolute;
	padding-left: 15px;
	padding-top: 10px;
	z-index: 0;
}
.box_select2 input{
	padding-left:40px;
	width: 300px;
	/* background-color: #000000; */
	z-index: 0;
}
.box_select2 div.layui-form-item{
	height: 50px;
	margin-left: -80px;
	margin-top: 30px;
	/* position: absolute;
	z-index: 2; */
}
/* .box_select2 div.layui-input-block{
	width: 300px;
	
	
} */
.box_select2 div.weidu{
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: -18px;
	height: 300px;
	overflow: auto;
	/* position: relative;
	z-index: 2; */
	/* background-color: #000000; */
}
.weidu i{
	margin-left: 300px;
}
#coll1{
	width: 389px;
	height: 1000px;
	margin-top: -250px;
	margin-left: -1px;
	/* margin-bottom: 100px; */
	border-bottom: 0px solid white;
	overflow: auto;
	/* position: absolute;
	z-index: 2; */
}
#coll2{
	width: 389px;
	height: 400px;
	margin-top: -250px;
	margin-left: -1px;
	/* margin-bottom: 50px; */
	border-bottom: 0px solid white;
	/* position: absolute;
	z-index: 2; */
}
.box_select2 li{
	margin-left: 20px;
	margin-top: -30px;
	position: absolute;
    list-style: none;
	
	cursor: pointer;
	 /* border-bottom: 1px solid blue; */
	background-color: #f7f7f7;
	text-align: center;
	z-index: 3;
}

.box_select2 ul{
	
	z-index: 3;
	position: absolute;
	
}