#flied1{
    /* border:0.5px solid red; */
    overflow: auto;
    height: 150px;
    padding: 0%;
}
#flied2{
    /* border:0.5px solid red; */
    overflow: auto;
    height: 150px;
    padding: 0%;
} 
/* 表单大盒子 */
#form_box{
    /* border:0.5px solid red; */
    margin-top: 0.7%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}
#weidu_choose,#weidu_select,#duliang_select,#button_submit{
    /* border:0.5px solid red; */
    /* margin: auto; */
    padding: 0px;
}
#weidu_choose{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    /* align-items:center; */

}
/* 穿梭框排列 */
#test4{
    /* border:0.5px solid red; */
    margin: auto;
    width: 100%;
}
#weidu_select{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}
#duliang_select{
    /* border:0.5px solid red; */
    margin-top: -0.5%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}
/* 克隆元素1 */
#select_box1,#select_box2{
    display:flex;
    /* border:0.5px solid red; */
    padding: 0px;
}
#add1,#add2{
    /* border:0.5px solid red; */
}
blockquote>div{
    font-size: 1rem;
    height: 0.5rem;
    line-height: 0.5rem ;
   
}
legend>div{
    font-size: 1rem;
}
#button_submit{
    display:flex;
    /* margin-top: 0.5%; */
    align-items:center;
}
#sub{
    margin: auto;
    /* height: 1%; */
}
*{
    padding: 0px;
}
body{
    overflow: hidden;
}

